@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer component {
  .viewHeader {
    background-color: var(--bg-indigo-800);
    color: var(--text-amber-50);
    font-weight: var(--font-bold);
    font-size: var(--text-lg);
    padding: var(--p-5);
    margin-bottom: var(mb-9);
  }
}
