:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 10px 30px;
  background-color: rgb(162, 233, 96);
  color: #3b3b3b;
  font-weight: bold;
}

table {
  background-color: #e7e7e7;
  color: #242424;
}

th {
  margin: 0;
  padding: 20px;
  color: #e7e7e7;
  background-color: rgb(96, 139, 56);
}

tr {
  margin: 10px 0;
}

td {
  margin: 10px 20px;
  padding: 10px;
}

dialog {
  text-align: center;
  align-items: center;
  padding: 40px 0;
  margin: auto;
  width: 60%;
  background-color: #e7e7e7;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}

dialog div {
  margin: auto;
}
